<%= for post <- @posts do %>
<div class="post-preview">
  <%= link to: post_path(@conn, :show, post) do %>
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= post.body %>
    </h3>
  <% end %>
  <p class="post-meta">
    Posted by <%= post.user.name %> on <%= post.publish_at %>
  </p>
  <p>
    <%= link "Edit", to: post_path(@conn, :edit, post), class: "btn btn-info btn-xs" %>
    <%= link "Delete", to: post_path(@conn, :delete, post), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
  </p>
</div>
<hr>
<% end %>

<div class="clearfix">
  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
</div>

<%= link "New post", to: post_path(@conn, :new), class: "btn btn-success btn-xs" %>
