<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @post.user.name %>
  </li>

  <li>
    <strong>Is draft:</strong>
    <%= @post.is_draft %>
  </li>

  <li>
    <strong>Publish at:</strong>
    <%= @post.publish_at %>
  </li>

</ul>

<%= render Blog.CommentView, "index.html", comments: @post.comments, conn: @conn, post: @post %>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
