<%= if info_message = get_flash(@conn, :info) do %>
<p class="alert alert-info" role="alert"><%= info_message %></p>
<% end %>

<%= if error_message = get_flash(@conn, :error) do %>
<p class="alert alert-danger" role="alert"><%= error_message %></p>
<% end %>

<%= if info_message = @params["flash"]["info"] do %>
<p class="alert alert-info" role="alert"><%= info_message %></p>
<% end %>

<%= if error_message = @params["flash"]["error"] do %>
<p class="alert alert-danger" role="alert"><%= error_message %></p>
<% end %>
