<!DOCTYPE html>
<html lang="tr-TR">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog With Phoenix | Create Your Own Blog</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <%= link "Blog With Phoenix", to: root_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link "Home", to: root_path(@conn, :index), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Source", to: "https://bitbucket.com/computeus/phoenix_blog", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Sign In", to: session_path(@conn, :new), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link "Sign Up", to: registration_path(@conn, :new), class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('<%= static_path(@conn, "/images/home-bg.jpg") %>')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog With Phoenix</h1>
              <span class="subheading">A Side project developed with Phoenix in Elixir</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </div>

    <%= render "errors.html", conn: @conn, params: @conn.params %>

    <%= render "footer.html", assigns %>
  </body>
</html>
