<h2>Edit comment</h2>

<%= render "form.html", changeset: @changeset,
                        action: post_comment_path(@conn, :update, @post, @comment) %>

<%= link "Back", to: post_path(@conn, :show, @post) %>
