<h2>Listing comments</h2>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Post</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render_many @comments, Blog.CommentView, "show.html", conn: @conn, post: @post %>
  </tbody>
</table>

<%= link "New comment", to: post_comment_path(@conn, :new, @post) %>
