<ul>

  <li>
    <strong>Body:</strong>
    <%= @comment.body %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @comment.user.name %>
  </li>
</ul>

<%= link "Edit", to: post_comment_path(@conn, :edit, @post, @comment) %>
